{% extends 'base.html' %}
{% block content %}

<style>
    body{
        background-image: url('../static/images/hero-2.jpg');
    }
    </style>
<body>
<link rel="stylesheet" href="{{url_for('static',filename = 'css/signUpStyle.css')}}">

    <div class="main">
        <div class="content">
                <div class="form" action="/signUpPage" method = "POST">
                    <form action="{{ url_for('auth.signUpPage') }}" method="post">
                        
                    <h2>Sign Up Here</h2>
                    <input type="text" name="firstname" placeholder="Enter First name" id="" required>
                    <input type="text" name="lastname" placeholder="Enter Last name" id="" required>
                    <input type="email" name="email" placeholder="Enter Email Here" required>
                    <input type="password" name="password" placeholder="Enter Password Here" required>
                    <input type="password" name="password2" placeholder="Confirm Password Here" required>
                    <button class="btnn" type="submit">Sign Up</button>

                    <p class="link">Already have an account<br>
                    <a href="/loginPage">Login </a> here</a></p>
                    <p class="suw">Sign Up with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>
                    </form>

                </div>
            
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
{% endblock  %}